@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


    /*  Shadcn Colors */

  --color-bg-muted: 240 4.8% 95.9%;
  --color-text-muted-foreground: 240 3.8% 46.1%;

}



html,
body {
  @apply bg-white font-montserrat font-normal text-sm;
  background: var(--background);
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #ffffff;
      --foreground: #1B1B1B;
    }
  }
}

@layer components{
  h1 {
    @apply font-extrabold text-[40px]
  }

  h2 {
    @apply font-bold text-2xl
  }

  h3 {
    @apply font-semibold text-xl
  }

  h4 {
    @apply font-bold text-xl
  }

  h5 {
    @apply font-bold text-[16px]
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hero-h {
    @apply h-[calc(100svh-91px)]
  }
}